@import "../app.variables";

.home {
	.cover-photo-full {
		background-image: url("images/lsqc-huddle-1.jpg");

		article {
			position: absolute;
			color: white;
			left: 45%;
			bottom: 30px;
			opacity: 0.5;

			span {
				display: block;
			}
			@media screen and (max-width: $break-md) {
				bottom: 20px;

				span {
					font-size: 12px;
				}
				.fa {
					font-size: 2em;
				}
			}
		}
	}
	@media screen and (max-width: $break-md) {
		.jumbotron {
			h2 {
				font-size: 24px;
			}
			p {
				font-size: 18px;
			}
		}
	}
	@media screen and (max-width: $break-sm) {
		.jumbotron {
			h2 {
				font-size: 20px;
			}
			p {
				font-size: 16px;
			}
		}
	}
	.promo-video {
		padding-bottom: 30px;

		h3 {
			border-bottom: 1px solid $black;
			margin: 0 0 20px;
			color: $blue;
		}
		@media screen and (max-width: $break-sm) {
			h3 {
				font-size: 20px;
			}

		}
	}
}