@import "../app.tools";

.home {
	.cover-photo-full {
		background-image: url("images/lsqc-huddle-1.jpg");

		.note {
			position: absolute;
			color: white;
			left: 45%;
			bottom: 30px;
			opacity: 0.5;

			span {
				display: block;
			}
		}
	}
	.page-article {
		h3 {
			border-bottom: 1px solid $black;
			margin: 0 0 20px;
			color: $blue;
		}
	}
}