@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:300,600,400);
@import "app.tools";

body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
body a {
	color: $blue;
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.cover-photo-full {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 100vh;

	&:after {
		background-color: rgba(0, 0, 0, 0.5);
		display: block;
		height: 100%;
		content: "";
	}
	.photo-cred {
		position: absolute;
		font-size: 8px;
		color: white;
		right: 10px;
		bottom: 10px;
		opacity: 0.5;
		margin: 0;
	}
}
.cover-photo-half {
	@extend .cover-photo-full;
	background-position: center -150px;
	height: 50vh;

	.photo-cred {
		position: absolute;
		font-size: 8px;
		color: white;
		right: 10px;
		bottom: 10px;
		opacity: 0.5;
		margin: 0;
	}
}
.jumbotron {
	padding: 10px 0 15px;
	background-image: url("images/lsqc-logo-watermark.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 30%;
	margin: 0;
}
.page-header {
	border-color: $black;
	color: $blue;
}
.page-article {
	padding-top: 30px;
	padding-bottom: 30px;
}
.btn-primary {
	background-color: $blue;
	border-color: $blue;

	&:focus {
		background-color: darken($blue, 10%);
		border-color: darken($blue, 25%);
	}
	&:hover,
	&:active {
		background-color: darken($blue, 10%);
		border-color: darken($blue, 12%);
	}
}
.btn-primary[disabled] {
	background-color: $blue;
	border-color: $blue;

	&:hover {
		background-color: $blue;
		border-color: $blue;
	}
}