@import "app.tools";

.header {
	position: absolute;
	padding: 20px 0;
	width: 100%;
	top: 0;
	z-index: 999;

	&.header-small {
		nav {
			height: 60px;
		}
		h1, li a {
			line-height: 60px;
		}
	}
	nav {
		transition: height 0.25s;
		height: 80px;

		.navbar-toggle {
			transition: transform 0.25s;
			padding: 13px 0;
			border: none;
			margin: 0;

			&:hover {
				transform: rotate(-10deg);
			}
			span {
				background-color: white;
			}
		}
	}
	img {
		height: 100%;
	}
	h1 {
		transition: line-height 0.25s;
		font-family: 'Slabo 27px', serif;
		display: inline-block;
		margin: 0 0 0 20px;
		line-height: 80px;
		color: white;
	}
	li {
		padding: 0 10px;
		font-size: 18px;

		&:last-child {
			padding-right: 20px;
		}
		a {
			transition: transform 0.25s, line-height 0.25s;
			line-height: 80px;
			color: white;
			padding: 0;
			cursor: pointer;

			&:hover {
				transform: rotate(-10deg);
				background-color: transparent;
			}
			&:focus {
				background-color: transparent;
				outline: none;
			}
		}
	}
}

.footer {
	background-color: $black;
	padding: 20px 0;
	color: white;

	.social-links {
		margin: 10px 0 20px;

		a {
			color: white;

			&:hover {
				color: #ccc;
			}
		}
	}
}