@import "app.tools";
@media screen and (max-width: $break-sm) {

	/**
	 * Globals
	 */
	.cover-photo-full,
	.cover-photo-half {
		background-position: center;

		&:after {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
	.jumbotron {
		h2 {
			font-size: 20px;
		}
		p {
			font-size: 16px;
		}
	}

	/**
	 * Header
	 */
	.header, .header.header-small {
		nav {
			height: 40px;

			.navbar-toggle {
				padding: 11px 0;
			}
		}
		h1 {
			line-height: 40px;
			font-size: 20px;
		}
		ul.nav {
			background-color: rgba($black, 0.75);
			width: 100%;
			position: absolute;
			margin-top: 0;
			margin-bottom: 0;
			top: 0;
			border: none;
			border-bottom: 1px solid black;
			z-index: -1;
			padding-top: 60px;
			padding-left: 50px;

			li:first-child {
				border-top: 1px solid white;
			}
		}
		li {
			&:first-child {
				padding-top: 10px;
			}
			&:last-child {
				padding-bottom: 5px;
			}
			a {
				line-height: 30px;
				font-size: 14px;

				&:hover {
					transform: none;
					color: #ccc;
				}
			}
		}
	}

	/**
	 * Footer
	 */
	.footer {
		text-align: center;

		.social-links {
			text-align: center;
			margin: 10px 0;

			a {
				font-size: 2em;
			}
		}
		.footer-nav {
			text-align: center;
		}
		.copyright {
			text-align: center;
		}
	}

	/**
	 * Home
	 */
	.home .page-article {
		h3 {
			font-size: 20px;
		}
	}

	/**
	 * About
	 */
	.about {
		article {
			h3 {
				font-size: 20px;
			}
			h4 {
				font-size: 16px;
			}
			ul li {
				font-size: 12px;
			}
		}
	}

}