@import "app.tools";
@media screen and (max-width: $break-md) {

	/**
	* Globals
	*/
	.jumbotron {
		h2 {
			font-size: 24px;
		}
		p {
			font-size: 18px;
		}
	}

	/**
	 * Header
	 */
	.header, .header.header-small {
		nav {
			height: 50px;
		}
		h1 {
			line-height: 50px;
			margin-left: 10px;
			font-size: 23px;
		}
		li a {
			line-height: 50px;
			font-size: 14px;
		}
	}

	/**
	 * Home
	 */
	.home .cover-photo-full .note {
		bottom: 20px;

		span {
			font-size: 12px;
		}
		.fa {
			font-size: 2em;
		}
	}

	/**
	 * Swag
	 */
	.swag .swag-results {
		.thumbnail {
			h3 {
				font-size: 20px;
			}
		}
	}
	.swag-modal {
		h3 {
			font-size: 20px;
		}
	}
}