@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:300,600,400);
@import "app.tools";

body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
body a {
	cursor: pointer;
	color: $blue;
}
.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-bold {
	font-weight: bold;
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.cover-photo-full {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 100vh;

	&:after {
		background-color: rgba(0, 0, 0, 0.5);
		display: block;
		height: 100%;
		content: "";
	}
	.photo-cred {
		position: absolute;
		font-size: 8px;
		color: white;
		right: 10px;
		bottom: 10px;
		opacity: 0.5;
		margin: 0;
	}
}
.cover-photo-half {
	@extend .cover-photo-full;
	background-position: center -150px;
	height: 50vh;

	.photo-cred {
		position: absolute;
		font-size: 8px;
		color: white;
		right: 10px;
		bottom: 10px;
		opacity: 0.5;
		margin: 0;
	}
}

/**
 * Bootstrap
 */
.jumbotron {
	padding: 10px 0 15px;
	background-image: url("images/lsqc-logo-watermark.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 30%;
	margin: 0;
}
.page-header {
	border-color: $black;
	color: $blue;
}
.page-article {
	padding-top: 30px;
	padding-bottom: 30px;
}
.btn-primary {
	@include custom-btn($blue);
}
.btn-danger {
	@include custom-btn($red);
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	background-color: $blue;
	border-color: $blue;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
	color: $blue;
}
.breadcrumb > li + li::before {
	content: "/";
}