/**
 * Colors
 */
$red: #f91c14;
$blue: #0f1681;
$black: #111;
/**
 * Durations
 */
$slow-duration: 0.75s;
$normal-duration: 0.5s;
$fast-duration: 0.25s;
/**
 * Media Queries
 */
$break-xs: 320px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
/**
 * Mixins
 */
@mixin calendar-event($color) {
	background-color: $color;
	border-color: $color;
}