@import "app.tools";

.header {
	position: absolute;
	padding: 20px 0;
	width: 100%;
	top: 0;
	z-index: 999;

	&.header-small {
		nav {
			height: 60px;
		}
		h1, li a {
			line-height: 60px;
		}
	}
	nav {
		transition: height $fast-duration;
		height: 70px;

		.navbar-toggle {
			transition: transform $fast-duration;
			padding: 13px 0;
			border: none;
			margin: 0;

			&:hover {
				transform: rotate(-10deg);
			}
			span {
				background-color: white;
			}
		}
		.navbar-nav {
			margin-right: -15px;
		}
	}
	img {
		height: 100%;
	}
	h1 {
		transition: line-height $fast-duration;
		font-family: 'Slabo 27px', serif;
		display: inline-block;
		margin: 0 0 0 15px;
		line-height: 70px;
		font-size: 34px;
		color: white;
	}
	li {
		padding: 0 8px;
		font-size: 18px;

		&:last-child {
			padding-right: 0;
		}
		a {
			transition: transform $fast-duration, line-height $fast-duration;
			line-height: 70px;
			color: white;
			padding: 0;
			cursor: pointer;

			&:hover {
				transform: rotate(-10deg);
				background-color: transparent;
			}
			&:focus {
				background-color: transparent;
				outline: none;
			}
		}
	}
}

.footer {
	background-color: $black;
	padding: 20px 0;
	color: white;

	h5 {
		margin-top: 0;
	}
	.social-links {
		margin-bottom: 0;

		a {
			color: white;
			text-decoration: none;

			&:hover {
				color: #ccc;
			}
		}
	}
	.footer-nav {
		a {
			color: white;
		}
		.separator {
			position: relative;
			top: -1px;
		}
	}
}