/**
 * Colors
 */
$red: #f91c14;
$blue: #0f1681;
$black: #111;
$gray: #777;
/**
 * Durations
 */
$slow-duration: 0.75s;
$normal-duration: 0.5s;
$fast-duration: 0.25s;
/**
 * Media Queries
 */
$break-xs: 320px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
/**
 * Mixins
 */
@mixin calendar-event($color) {
	background-color: $color;
	border-color: $color;

	&:hover {
		background-color: mix($color, $black, 90%);
	}
}
@mixin custom-btn($color) {
	background-color: $color;
	border-color: $color;

	&:focus {
		background-color: darken($color, 10%);
		border-color: darken($color, 25%);
	}
	&:hover,
	&:active {
		background-color: darken($color, 10%);
		border-color: darken($color, 12%);
	}
	&[disabled] {
		background-color: $color;
		border-color: $color;

		&:hover {
			background-color: $color;
			border-color: $color;
		}
	}
}