@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:300,600,400);
@import "app.variables";

body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.header {
	position: absolute;
	padding: 20px 0;
	width: 100%;
	top: 0;
	z-index: 999;

	&.header-small {
		nav {
			height: 80px;
		}
		h1, li a {
			line-height: 80px;
		}
	}
	nav {
		transition: height 0.25s;
		height: 100px;
	}
	img {
		height: 100%;
	}
	h1 {
		transition: line-height 0.25s;
		font-family: 'Slabo 27px', serif;
		display: inline-block;
		margin: 0 0 0 20px;
		line-height: 100px;
		color: white;
	}
	li {
		text-transform: uppercase;
		padding: 0 10px;
		font-size: 18px;

		&:last-child {
			padding-right: 20px;
		}
		a {
			transition: transform 0.25s, line-height 0.25s;
			line-height: 100px;
			color: white;
			padding: 0;
			cursor: pointer;

			&:hover {
				transform: rotate(-10deg);
				background-color: transparent;
			}
			&:focus {
				background-color: transparent;
				outline: none;
			}
		}
	}
}

.footer {
	background-color: $black;
	border-top: 2px solid white;
	color: white;
	padding: 20px 0;
}