@import "../app.tools";

.roster {
	.cover-photo-half {
		background-image: url("images/lsqc-tackle-1.jpg");
	}
	.jumbotron {
		margin: 0;
	}
	.table {
		margin-top: 20px;
	}
	.profile {
		height: 300px;
		padding: 20px 0;
		border-bottom: 1px dotted #ccc;
		position: relative;

		img {
			margin-right: 20px;
			height: 100%;
		}
		h3 {
			color: $blue;
		}
		.jersey-num {
			font-size: 150px;
			font-weight: 600;
			color: $red;
			position: absolute;
			bottom: -25px;
			opacity: 0.5;
			z-index: -1;
		}
	}
}