@import "../app.tools";

.about {
	.cover-photo-half {
		background-image: url("images/lsqc-huddle-2.jpg");
	}
	@media screen and (max-width: $break-md) {
		.jumbotron {
			h2 {
				font-size: 24px;
			}
			p {
				font-size: 18px;
			}
		}
	}
	@media screen and (max-width: $break-sm) {
		.jumbotron {
			h2 {
				font-size: 20px;
			}
			p {
				font-size: 16px;
			}
		}
	}
	.stats {
		padding-bottom: 20px;

		h3 {
			border-bottom: 1px solid $black;
			margin: 0 0 20px;
			color: $blue;
		}
		h4 {
			margin-top: 0;
		}
		@media screen and (max-width: $break-sm) {
			h3 {
				font-size: 20px;
			}
			h4 {
				font-size: 16px;
			}
			ul li {
				font-size: 12px;
			}
		}
	}
}