<div class="cover-photo-half"></div>
<article class="container">
    <h2>Contact Us</h2>
    <form ng-submit="submit()" class="form-horizontal" role="form" novalidate name="contactForm">
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-8">
                <input ng-model="formData.inputName" type="text" class="form-control"
                       id="inputName" name="inputName" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <span ng-show="contactForm.inputEmail.$error.email" class="small text-danger">Invalid</span>
            <div class="col-lg-8">
                <input ng-model="formData.inputEmail" type="email" class="form-control"
                       id="inputEmail" name="inputEmail" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputMessage" class="col-lg-2 control-label">Message</label>
            <div class="col-lg-8">
                <textarea ng-model="formData.inputMessage" class="form-control" rows="4"
                          id="inputMessage" name="inputMessage" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary" ng-click="sendForm()"
                        ng-disabled="contactForm.$invalid">
                    Send Message
                </button>
                <button ng-click="resetForm()" class="btn btn-default">Reset</button>
            </div>
        </div>
    </form>
</article>